/* Global Styles */
:root {
  --sidebar-background: #661692;
  --white: #F4EAFF;
  --text-color-main: #333;
  --button-color: #ee57d0;
  --task-color: #9832b4;
  --screen-color: linear-gradient(90deg, rgba(202, 149, 255, 1) 0%, rgb(204, 132, 255) 51%, rgba(202, 149, 255, 1) 90%);
  
  /* Calendar */
  --dark-text: #151426;
  --light-btn: #9796f0;
}

body {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  background-color: #ddd;
}

.page-wrapper {
  display: flex;
}

/*Sidebar*/
.sidebar {
  z-index: 3;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  min-height: 100vh;
  background-color: var(--sidebar-background);
}

.sidebar__header {
  background-color: var(--white);
  min-height: 70px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: center;
}

.sidebar__content {
  padding: 30px;
  flex-grow: 1;
}

.sidebar__welcome {
  font-size: 24px;
  margin: 0 0 40px;
  color: var(--white);
  background: transparent url("../img/hello-icon.png") no-repeat 100% 0 / contain;
}

.sidebar__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar__item {
  position: relative;
  margin-bottom: 60px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--white);
  border-radius: 20px;
  padding: 10px 20px 10px 50px;
  font-size: 20px;
  color: var(--text-color-main);
  line-height: 1;
  cursor: pointer;
  transition: background-color 0.1s linear;
}

.sidebar__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50% 0 0 50%;
  background-color: var(--button-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 25px;
}

#tasks-button::before {
  background-image: url('../img/taks-icon.svg');
}

#weather-button::before {
  background-image: url("../img/weather-icon.svg");
}

#calendar-button::before {
  background-image: url("../img/calendar-icon.svg");
}

/* Main Screen */
.main-screen {
  width: 100%;
  background: var(--screen-color);
  min-height: 100vh;
  display: flex;
}

.screen {
  flex-basis: 100%;
  background: var(--screen-color);
}

.calendar-wrapper {
  display: flex;
  justify-content: center;
}

#tasks-screen {
  color: var(--text-color-main);
}

.tasks__header {
  display: flex;
  min-height: 70px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 50px;
  border-bottom: 1px solid var(--white);
}

#add-task {
  position: relative;
  padding: 5px 10px 5px 35px;
  border: none;
  height: 30px;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
}

#add-task::before {
  content: '+';
  color: var(--white);
  font-size: 35px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50% 0 0 50%;
  background-color: var(--task-color);
}

.tasks__wrapper {
  padding: 20px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.tasks__message {
  font-size: 22px;
}

/* Task */

.task {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: 200px;
  width: 170px;
  box-sizing: border-box;
  background-color: var(--task-color);
  padding-top: 10px;
  border-right: 2px solid var(--task-color);
  border-left: 2px solid var(--task-color);
  transition: transform 0.2s linear;
}

.task__title {
  margin: 0 25px 5px;
  color: var(--white);
  word-break: break-word;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}


.task__content {
  background-color: var(--white);
  padding: 10px;
  border-radius: 5px;
  flex-grow: 1;
  color: var(--text-color-main);
  scrollbar-width: none;
  overflow-y: scroll;
  box-sizing: border-box;
}

.task__content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.task__content p {
  margin: 0;
  word-break: break-word;
}

.task-ready {
  border-radius: 0 0 20px 20px;
  width: 100%;
  margin: auto 0 0;
  padding: 5px 0;
  border: none;
  font-size: 18px;
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
}

.edit-button {
  position: absolute;
  top: 12px;
  left: 10px;
  width: 15px;
  height: 15px;
  border: none;
  background: transparent url("../img/edit-icon.svg") center / contain;
  cursor: pointer;
}


/* Модальные окна */

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  max-width: 500px;
  padding: 30px;
  position: relative;
  background-color: var(--white);
  border-radius: 20px;
}

.modal__title {
  margin: 0 40px 20px 0;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ddd;
  border: none;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  border-radius: 0 20px 0 20px;
  cursor: pointer;
}

.close-button::after,
.close-button::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  top: 50%;
  left: 10px;
  background-color: #000;
  transform: rotate(45deg);
}

.close-button::before {
  transform: rotate(-45deg);
}

.close-button:hover,
.close-button:focus {
  background-color: #cdcdcd;
}

.close-button:active {
  background-color: #bbb;
}

.form__label {
  display: block;
  margin-bottom: 20px;
}

.form__text {
  display: block;
  padding-left: 15px;
  color: #666;
}

.form__input,
.form__textarea {
  width: 100%;
  box-sizing: border-box;
  background-color: #eee;
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-size: 18px;
}

.form__input::placeholder,
.form__textarea::placeholder {
  color: #bbb;
}

.form__input:hover,
.form__textarea:hover {
  background-color: #ddd;
}

.form__input:focus,
.form__textarea:focus {
  background-color: #ddd;
  outline: none;
}

.form__textarea {
  resize: none;
}

.form__button {
  width: max-content;
  margin: 0 auto;
  display: block;
  padding: 15px;
  cursor: pointer;
  font-size: 18px;
  border: none;
  background-color: #ddd;
  border-radius: 10px;
}

.form__button:hover,
.form__button:focus {
  background-color: #cdcdcd;
}

.form__button:active {
  background-color: #bbb;
}

/* Календарь */
.calendar {
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 2;
  height: 610px;
  width: max-content;
  background-color: var(--white);
  border-radius: 25px;
  overflow: hidden;
  padding: 30px 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.calendar__header {
  background-color: #9796f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: var(--white);
  padding: 10px;
}

.calendar__body {
  padding: 10px;
}

.calendar__week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
  cursor: pointer;
  color: rgb(104, 104, 104);
}

.calendar__week-days div:hover {
  color: black;
  transform: scale(1.2);
  transition: all .2s ease-in-out;
}

.calendar__week-days div {
  display: grid;
  place-items: center;
  height: 50px;
}

.calendar__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}

.calendar__days div {
  width: 37px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.month-picker {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.month-picker:hover {
  color: var(--color-txt);
}

.year-picker {
  display: flex;
  align-items: center;
}

.year-change {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.year-change:hover {
  background-color: var(--light-btn);
  transition: all 0.2s ease-in-out;
  transform: scale(1.12);
}

#year:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

.calendar__days div span {
  position: absolute;
}

.calendar__days div:hover {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  background-color: #fbc7d4;
  border-radius: 20%;
  color: var(--dark-text);
}

.calendar__days div.current-date {
  color: var(--white);
  background-color: var(--light-btn);
  border-radius: 20%;
}

.month-list {
  position: absolute;
  bottom: 30px;
  background-color: var(--light-btn);
  color: var(--white);
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  border-radius: 20px;
}

.month-list > div {
  text-align: center;
  margin: 5px 10px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 15px;
}

.month-list > div:hover {
  background-color: #7776e7;
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}

.date-time-format {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  color: var(--white);
  background-color: #9627d5;
}

.date-time-value {
}

.time-format {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.time-format.hidetime {
  animation: hidetime 1.5s forwards;
}

.day-text-format.hidetime {
  animation: hidetime 1.5s forwards;
}

.date-format.hidetime {
  animation: hidetime 1.5s forwards;
}

.day-text-format.showtime {
  animation: showtime 1s forwards;
}

.time-format.showtime {
  animation: showtime 1s forwards;
}

.date-format.showtime {
  animation: showtime 1s forwards;
}

.weather {
  display: flex;
  align-items: center;
  gap: 10px;
}

.weather__data span {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

@keyframes to-top {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}

@keyframes to-left {
  0% {
    transform: translatex(230%);
    opacity: 1;
  }
  100% {
    transform: translatex(0);
    opacity: 1;
  }
}

@keyframes to-right {
  10% {
    transform: translatex(0);
    opacity: 1;
  }
  100% {
    transform: translatex(-150%);
    opacity: 1;
  }
}

@keyframes showtime {
  0% {
    transform: translatex(250%);
    opacity: 1;
  }
  100% {
    transform: translatex(0%);
    opacity: 1;
  }
}

@keyframes hidetime {
  0% {
    transform: translatex(0%);
    opacity: 1;
  }
  100% {
    transform: translatex(-370%);
    opacity: 1;
  }
}

.removing {
  transform: scale(0);
}

.screen-button-active {
  background-color: var(--button-color);
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

